development:
  SMTP_USERNAME:
  SMTP_PASSWORD:
  BLOCKCHAIN_SERVER_URL: http://localhost:8080
  PLAGSCAN_SERVER_URL: https://api.plagscan.com
  PLAGSCAN_CLIENT_ID:
  PLAGSCAN_CLIENT_SECRET:
  STRIPE_SERVER_KEY:
  ARTIZYOU_IMAGE_DOMAIN:
  AWS_REGION:
  AWS_ACCESS_KEY_ID:
  AWS_SECRET_ACCESS_KEY:
  AWS_BUCKET:
  FACEBOOK_KEY_ID:
  FACEBOOK_SECRET_ACCESS_KEY:
  GOOGLE_KEY_ID:
  GOOGLE_SECRET_ACCESS_KEY:
  GOOGLE_CALLBACK:
  LINKEDIN_KEY_ID:
  LINKEDIN_SECRET_ACCESS_KEY:
  APP_URL: http://localhost:3000
  PUBLIC_PROFILE_PATH: /profile
  SITE_URL:
  FAQ_PATH: /faq
  EMAIL_FROM:
