.alert {
  text-align: center;

  ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }

  &.alert-danger {
    color: #6b5c5e;
    background-color: #faf5f6;
    border-color: #ff9ba5;
  }
}