$primary-color-1: #f36f2b;
$primary-color-2: #ff742c;
$error-color: #ff3342;
$error-border-color: #e60011;
$success-color: #00B96E;
$success-border-color: #00b05f;
$link-color: #00BBBD;
$currentTextColor: #757575;
$darkTextColor: #6f6f6f;
$lightTextColor: #9B9B9B;
$placeholderTextColor: #bcbcbc;

@mixin primary-color-gradient {
  background-image: linear-gradient(-161deg, $primary-color-1 0%, $primary-color-2 97%) !important;
}

@mixin primary-boxshadow {
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.20);
}

@mixin primary-boxshadow_hover {
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.20);
}
