@import "imports/variables";

html{
  min-height: 100%;
}

body{
  background: linear-gradient(#fff, #f7f7f7);
}

h2.devise-title{
  margin: 1rem 0 1rem 0;
  text-transform: uppercase;
}

.logo{
  max-width: 225px;
  height: auto;
  margin: 4rem auto 1.5rem auto;
  display: block;

  @media (min-width: 768px){
    margin: 4rem auto 4rem auto;
  }

  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    height: 45px !important;
  }
}
.language-switcher{
  //display: none;
  position: absolute;
  top: 0;
  right: 1rem;
  padding: 20px;
  color: $currentTextColor;
  z-index: 1;
  &:hover{
    color: $currentTextColor;
  }
}

.social-login-icons{
  margin-top: 1rem;

  @media (min-width: 768px){
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  a.btn-media{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    margin: 0 0 .8rem 0;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    bottom: 0.8rem;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    transition: all .25s ease;

    &.btn-media-Google{
      background-color: #D64131;
    }
    &.btn-media-Facebook{
      background-color: #395283;
    }
    &.btn-media-LinkedIn{
      background-color: #0176b5;
    }
    img{
      height: 20px;
      width: 20px;
      margin-right: 10px;
    }

    @media (min-width: 768px){
      min-width: 184px;
      margin: 0 0.5rem 0.8rem 0.5rem;
    }
  }

  p.oauth-text{
    padding: 5px 25px 5px 25px;

    @media (min-width: 768px){
      padding: 15px 25px 15px 25px;
    }
  }
}

.actions{
  margin: 2rem 0 1rem 0;
}

.devise-links{
  margin-bottom: 5rem;
  text-align: center;

  p.btn-link-container{
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
}

form#new_user {
  max-width: 350px;
  margin: 0 auto;
}