body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  color: #505050;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
  line-height: 1.25;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

img {
  border: none;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
}

table {
  border-collapse: separate;
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
  width: 100%;
  td {
    font-family: sans-serif;
    font-size: 14px;
    vertical-align: top;
  }
}

/* -------------------------------------
    BODY & CONTAINER
------------------------------------- */


/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
  display: block;
  margin: 0 auto !important;
  /* makes it centered */
  max-width: 580px;
  padding: 10px;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  max-width: 580px;
  padding: 10px;
}

/* -------------------------------------
    HEADER, FOOTER, MAIN
------------------------------------- */
.main {
  background: #ffffff;
  border-radius: 3px;
  width: 100%;
  box-shadow: 0px 3px 5px 0px rgba(115,115,115,1);
}

.wrapper {
  box-sizing: border-box;
  padding: 30px;
}

.logo{
  height: 35px;
  width: 160px;
  margin: 0 auto;
}
.content-block {
  padding-bottom: 10px;
  padding-top: 10px;
}

.footer {
  clear: both;
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

.footer td,
.footer p,
.footer span,
.footer a {
  color: #999999;
  font-size: 12px;
  text-align: center;
}

/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */
h1,
h2,
h3,
h4 {
  color: #000000;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
  margin-bottom: 25px;
}

h1 {
  font-size: 22px;
  font-weight: 300;
  text-align: center;
}

p,
ul,
ol {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 15px;
}

p li,
ul li,
ol li {
  list-style-position: inside;
  margin-left: 5px;
}

a {
  color: #3498db;
  text-decoration: underline;
}

.header a{
  text-decoration: none;
}
.header .logo{
  width: 150px;
}
.header .logo-subtitle{
  display: block;
  color: #505050;
  font-size: 12.5px;
}
.header h1{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 50px;
  font-size: 22px;
  color: #f36f2b;
}
.header p{
  text-align: center;
  margin-top: 0;
}

.link{
  color: #f36f2b;
}

.button-container{
  text-align: center;
}
.button-container a{
  display: inline-block;
  background: #f36f2b;
  padding: 12px 25px;
  border-radius: 25px;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 3px 5px 0px rgba(115,115,115,1);
}

hr{
  margin-bottom: 25px;
  margin-top: 25px;
  width: 50%;
}

.total_amount{
  text-align: right;
}

.legend{
  font-size: 12px;
}